@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    Background-Color: lightgray;
}

h1, h2 {
    text-align: center;
}

p {
  font-family: verdana;
}

img {
    margin-bottom: 20px;
}

a {
    color: green;
    font-size: 20p;
}